In [3]:
!nvidia-smi

NVIDIA-SMI has failed because it couldn't communicate with the NVIDIA driver. Make sure that the latest NVIDIA driver is installed and running.

In [2]:
import os 
os.chdir('/content/drive/MyDrive/EEG Detection')
from functions import AddNoActivity, scaling
from average_metrics import average_bal_acc_score, average_f1_score, average_acc_score, average_hamming_loss
from classifiers import SupportVectorMachine, LogisticRegression, RandomForest, KNearestNeighbour, AdaBoost, XGBoost
from sklearn.model_selection import train_test_split
import pandas as pd

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
whole_data = []
for subject in range(1,11):
    for i in range(1,5):
        ts = pd.read_csv(f"/content/drive/MyDrive/train/train/subj{subject}_series{i}_data.csv")
        te = pd.read_csv(f"/content/drive/MyDrive/train/train/subj{subject}_series{i}_events.csv")
        temp = pd.concat([ts,te], axis = 1)        
        whole_data_temp = AddNoActivity(temp)
        whole_data.append(whole_data_temp)

In [4]:
data = pd.concat(whole_data)

In [5]:
data

                           id  Fp1  Fp2  ...  Replace  BothReleased  NoActivity
0             subj1_series1_0  -31  363  ...        0             0           1
1             subj1_series1_1  -29  342  ...        0             0           1
2             subj1_series1_2 -172  278  ...        0             0           1
3             subj1_series1_3 -272  263  ...        0             0           1
4             subj1_series1_4 -265  213  ...        0             0           1
...                       ...  ...  ...  ...      ...           ...         ...
211220  subj10_series4_211220  -31 -172  ...        0             0           1
211221  subj10_series4_211221  -47 -174  ...        0             0           1
211222  subj10_series4_211222  -78 -227  ...        0             0           1
211223  subj10_series4_211223  -15 -177  ...        0             0           1
211224  subj10_series4_211224   43  -81  ...        0             0           1

[8309158 rows x 41 columns]

In [6]:
s1 = data[data['NoActivity'] == 1]

In [7]:
s0 = data[data['NoActivity'] == 0]

In [8]:
s1 = s1.sample(n = (len(s0) + 00))

In [9]:
s1

                          id  Fp1  Fp2  ...  Replace  BothReleased  NoActivity
79498    subj7_series3_79498  220  341  ...        0             0           1
63253    subj7_series1_63253  303  229  ...        0             0           1
205760  subj5_series3_205760  212  487  ...        0             0           1
17477   subj10_series1_17477 -392 -190  ...        0             0           1
92185    subj7_series1_92185  334  223  ...        0             0           1
...                      ...  ...  ...  ...      ...           ...         ...
36147    subj6_series2_36147   95   87  ...        0             0           1
20212    subj7_series4_20212  -14  -33  ...        0             0           1
25299    subj5_series3_25299 -273 -235  ...        0             0           1
46252    subj2_series1_46252  178  -41  ...        0             0           1
91774    subj5_series2_91774 -183  -40  ...        0             0           1

[948129 rows x 41 columns]

In [10]:
s = s1.append(s0)

In [11]:
s

                           id  Fp1  Fp2  ...  Replace  BothReleased  NoActivity
79498     subj7_series3_79498  220  341  ...        0             0           1
63253     subj7_series1_63253  303  229  ...        0             0           1
205760   subj5_series3_205760  212  487  ...        0             0           1
17477    subj10_series1_17477 -392 -190  ...        0             0           1
92185     subj7_series1_92185  334  223  ...        0             0           1
...                       ...  ...  ...  ...      ...           ...         ...
210024  subj10_series4_210024 -234   32  ...        0             1           0
210025  subj10_series4_210025 -317  111  ...        0             1           0
210026  subj10_series4_210026 -363   77  ...        0             1           0
210027  subj10_series4_210027 -299   71  ...        0             1           0
210028  subj10_series4_210028 -231   77  ...        0             1           0

[1896258 rows x 41 columns]

In [12]:
s.reset_index(drop = True, inplace = True)

In [13]:
s.drop('id', axis = 1, inplace = True)

In [14]:
x = s.iloc[:,0:32]

In [15]:
y = s.iloc[:,32:]

In [16]:
x

         Fp1  Fp2   F7   F3   Fz   F4   F8  ...   P4   P8  PO9   O1   Oz   O2  PO10
0        220  341  542  130  -53  -73  -41  ... -144  141   92  203 -123  -26   -61
1        303  229  555 -606  -53  134 -264  ...   52  -68 -498  119 -120 -346  -251
2        212  487  402   12  305  433  400  ...  315  195 -263 -128 -203 -246  -188
3       -392 -190 -302 -528 -664 -292 -490  ... -248  -79 -508 -203 -698 -464  -447
4        334  223  251 -209   56  105  112  ... -171   39 -167  109 -115 -362  -166
...      ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...   ...
1896253 -234   32  -40 -434 -272 -181   49  ...   18   95 -233  -56 -403 -264  -147
1896254 -317  111 -129 -426 -263 -178   87  ...   24  119 -229  -34 -402 -262  -153
1896255 -363   77 -187 -428 -273 -162   48  ...   -9  107 -204  -35 -408 -278  -225
1896256 -299   71 -162 -432 -270 -139   75  ...    9  116 -166   -7 -351 -228  -180
1896257 -231   77 -120 -371 -270 -127  108  ...   38  129 -183    6 -326 -211  -100

[1896258 rows x 32 columns]

In [17]:
y

         HandStart  FirstDigitTouch  ...  BothReleased  NoActivity
0                0                0  ...             0           1
1                0                0  ...             0           1
2                0                0  ...             0           1
3                0                0  ...             0           1
4                0                0  ...             0           1
...            ...              ...  ...           ...         ...
1896253          0                0  ...             1           0
1896254          0                0  ...             1           0
1896255          0                0  ...             1           0
1896256          0                0  ...             1           0
1896257          0                0  ...             1           0

[1896258 rows x 7 columns]

In [18]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.3, random_state = 42)

In [19]:
x_train = scaling(x_train)

In [20]:
x_test = scaling(x_test)

In [21]:
XGBoost(x_train, x_test, y_train, y_test)

The average balanced accuracy score of the XGBoost classifier is  0.5214834499289764
The average accuracy score of the XGBoost classifier is  0.8632468523253543
The average F1 score of the XGBoost classifier is  0.09207988531148349
The average hamming loss of the XGBoost classifier is  0.13675314767464578

        HandStart  FirstDigitTouch  ...  BothReleased  NoActivity
0             0.0              0.0  ...           0.0         0.0
1             0.0              0.0  ...           0.0         0.0
2             0.0              0.0  ...           0.0         1.0
3             0.0              0.0  ...           0.0         0.0
4             0.0              0.0  ...           0.0         0.0
...           ...              ...  ...           ...         ...
568873        0.0              0.0  ...           0.0         1.0
568874        0.0              0.0  ...           0.0         0.0
568875        0.0              0.0  ...           0.0         0.0
568876        0.0              0.0  ...           0.0         1.0
568877        0.0              0.0  ...           0.0         1.0

[568878 rows x 7 columns]

In [22]:
AdaBoost(50, x_train, x_test, y_train, y_test)

The average balanced accuracy score of the AdaBoost classifier is  0.5184077489839594
The average accuracy score of the AdaBoost classifier is  0.8600468189765016
The average F1 score of the AdaBoost classifier is  0.0910845931470701
The average hamming loss of the AdaBoost classifier is  0.13995318102349838

        HandStart  FirstDigitTouch  ...  BothReleased  NoActivity
0             0.0              0.0  ...           0.0         0.0
1             0.0              0.0  ...           0.0         0.0
2             0.0              0.0  ...           0.0         1.0
3             0.0              0.0  ...           0.0         0.0
4             0.0              0.0  ...           0.0         0.0
...           ...              ...  ...           ...         ...
568873        0.0              0.0  ...           0.0         1.0
568874        0.0              0.0  ...           0.0         1.0
568875        0.0              0.0  ...           0.0         1.0
568876        0.0              0.0  ...           0.0         1.0
568877        0.0              0.0  ...           0.0         1.0

[568878 rows x 7 columns]

In [23]:
RandomForest(100, x_train, x_test, y_train, y_test)

The average balanced accuracy score of the random forest classifier is  0.8078625686814815
The average accuracy score of the random forest classifier is  0.9510922000348556
The average F1 score of the random forest classifier is  0.7522676354120371
The average hamming loss of the random forest classifier is  0.048907799965144425

        HandStart  FirstDigitTouch  ...  BothReleased  NoActivity
0             0.0              0.0  ...           0.0         0.0
1             0.0              0.0  ...           0.0         0.0
2             0.0              0.0  ...           0.0         1.0
3             0.0              0.0  ...           0.0         0.0
4             0.0              0.0  ...           0.0         0.0
...           ...              ...  ...           ...         ...
568873        0.0              1.0  ...           0.0         0.0
568874        0.0              0.0  ...           0.0         0.0
568875        0.0              0.0  ...           0.0         1.0
568876        0.0              0.0  ...           0.0         1.0
568877        0.0              0.0  ...           0.0         0.0

[568878 rows x 7 columns]

In [ ]:
KNearestNeighbour(5, x_train, x_test, y_train, y_test)

In [ ]:
LogisticRegression(x_train, x_test, y_train, y_test)